version: 1.0.0.{build}
platform: Any CPU
os: Visual Studio 2013
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
before_build:
- ps: "if($env:APPVEYOR_REPO_BRANCH -eq \"master\"){\nif($env:APPVEYOR_REPO_TAG -eq $true){\n$env:CONFIGURATION = \"Release\"\nWrite-Host \"Switch to Release configuration\"\n}\nelse{\n$env:CONFIGURATION = \"Debug\"\nWrite-Host \"Switch to Debug configuration\"\n \n}\n}"
build:
  verbosity: normal
after_build:
- ps: "if($env:APPVEYOR_REPO_TAG -eq $true){ \nappveyor PushArtifact ..\\shelltc\\ShellTC\\ShellTC\\bin\\Release\\setup.exe \n}"
deploy:
- provider: GitHub
  tag: $(APPVEYOR_REPO_TAG_NAME)
  release: ShellTC Release-$(APPVEYOR_REPO_TAG_NAME)
  description: New $(APPVEYOR_REPO_TAG_NAME) version of ShellTC
  auth_token:
    secure: 2c2aeb3f4974130ed7e85f75aa522e66652b9748
  artifact: setup.exe
  on:
    branch: master
    APPVEYOR_REPO_TAG: true
on_success:
- ps: 
